@model Ks.Admin.Models.Contract.ContributionModel
@Html.ValidationSummary(true)
@Html.HiddenFor(x=>x.CustomerId)
@Html.HiddenFor(x => x.Id)
<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.CustomerCompleteName):
        </td>
        <td class="adminData">
            @Model.CustomerCompleteName
            @Html.HiddenFor(model => model.CustomerCompleteName)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.CustomerDni):
        </td>
        <td class="adminData">
            @Model.CustomerDni
            @Html.HiddenFor(model => model.CustomerDni)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.CustomerAdmCode):
        </td>
        <td class="adminData">
            @Model.CustomerAdmCode
            @Html.HiddenFor(model => model.CustomerAdmCode)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.AuthorizeDiscount):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.AuthorizeDiscount)
            @Html.ValidationMessageFor(model => model.AuthorizeDiscount)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.DayOfPayment):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.DayOfPayment)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.AmountTotal):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.AmountTotal)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.TotalCycle):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.TotalCycle)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.CreatedOn):
        </td>
        <td class="adminData">
            @Model.CreatedOn
            @Html.HiddenFor(model => model.CreatedOn)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.MonthId):
        </td>

        <td class="adminData">
            @Html.DropDownListFor(model => model.MonthId, Model.MonthsList)
            @Html.ValidationMessageFor(model => model.MonthId)
            <script>
                $(document).ready(function() {
                    $('#@Html.FieldIdFor(model => model.MonthId)').kendoDropDownList();
                });
            </script>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.YearId):
        </td>

        <td class="adminData">
            @Html.DropDownListFor(model => model.YearId, Model.YearsList)
            @Html.ValidationMessageFor(model => model.YearId)
            <script>
                $(document).ready(function () {
                    $('#@Html.FieldIdFor(model => model.YearId)').kendoDropDownList();
                });
            </script>
        </td>
    </tr>
</table>