@model CustomerModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Benefits").Text;
}
@Html.AntiForgeryToken()
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
        @T("Admin.Configuration.Benefits") - @Html.LabelFor(model => model.DeclaratoryLetter):  @Model.DeclaratoryLetter
    </div>
    <div class="options">
        @{
            if (!Model.HasBenefit)
            {
                <input type="button" class="k-button" onclick="location.href='@Url.Action("Create","CustomerBenefit", new { customerId = Model.Id, contributionId = Model.Contribution.Id })' " value='@T("Admin.Common.AddNew")' />
            }
        }
    </div>
</div>
@{
    if (Model.HasContributionBenefits)
    {
        <table class="adminContent">
            <tr>
                <td>
                    <div id="tab-grid"></div>
                    <script>
                        $(document).ready(function () {
                            $("#tab-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "CustomerBenefit", new { customerId=Model.Id }))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    numeric: false,
                                    previousNext: false,
                                    info: false
                                },
                                editable: {
                                    confirmation: false,
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [{
                                    field: "BenefitName",
                                    title: "@T("Admin.Customers.Customers.Benefit.TotalToPay")"
                                }, {
                                    field: "TotalToPay",
                                    title: "@T("Admin.Configuration.Tabs.Fields.AmountBase")",
                                    template: '#= kendo.toString(TotalToPay,"c","es-PE") #',
                                    format: "{0:c2}"
                                }, {
                                    field: "YearInActivity",
                                    title: "@T("Admin.Customers.Customers.Benefit.YearInActivity")"
                                }, {
                                    field: "TotalContributionCaja",
                                    title: "@T("Admin.Customers.Customers.Benefit.TotalContributionCaja")",
                                    template: '#= kendo.toString(TotalContributionCaja,"c","es-PE") #',
                                    format: "{0:c2}"
                                }, {
                                    field: "TotalContributionCopere",
                                    title: "@T("Admin.Customers.Customers.Benefit.TotalContributionCopere")",
                                    template: '#= kendo.toString(TotalContributionCopere,"c","es-PE") #',
                                    format: "{0:c2}"
                                }, {
                                    field: "TotalContributionPersonalPayment",
                                    title: "@T("Admin.Customers.Customers.Benefit.TotalContributionPersonalPayment")",
                                    template: '#= kendo.toString(TotalContributionPersonalPayment,"c","es-PE") #',
                                    format: "{0:c2}"
                                }, {
                                    field: "Active",
                                    title: "@T("Admin.Customers.Customers.Benefit.Active")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Active#.gif" />'
                                }, {
                                    field: "CreatedOn",
                                    title: "@T("Admin.Customers.Customers.Benefit.CreatedOn")",
                                    template: '#= CreatedOn!=null ? kendo.toString(CreatedOn,"dd/MM/yyyy hh:mm:ss","es-PE"): " "#',
                                    type: "date",
                                    format: "{0:G}"
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Common.Edit")",
                                    width: 100,
                                    template: '<a href="../../CustomerBenefit/Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                                }]
                            });
                        });
                    </script>
                </td>
            </tr>
        </table>
    }
}