@using System.Globalization
@model Ks.Admin.Models.Contract.StateActivityModel

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-system.png")" alt="" />
        @Model.StateName  @(Model.HasOnlySignature ? T(" - Sola Firma") : T(" - Con Garante"))
    </div>
</div>

<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.MinClycle):
        </td>
        <td class="adminData">
            @Model.MinClycle - (@T("Common.Year"))
        </td>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.MaxClycle):
        </td>
        <td class="adminData">
            @Model.MaxClycle - (@T("Common.Year"))
        </td>
    </tr>
    @{
        if (Model.HasOnlySignature)
        {
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.MinAmountWithSignature):
                </td>
                <td class="adminData">
                    @Model.MinAmountWithSignature.ToString("c", new CultureInfo("es-PE"))
                </td>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.MaxAmountWithSignature):
                </td>
                <td class="adminData">
                    @Model.MaxAmountWithSignature.ToString("c", new CultureInfo("es-PE"))
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.MinAmountWithWarranty):
                </td>
                <td class="adminData">
                    @Model.MinAmountWithWarranty.ToString("c", new CultureInfo("es-PE"))
                </td>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.MaxAmountWithWarranty):
                </td>
                <td class="adminData">
                    @Model.MaxAmountWithWarranty.ToString("c", new CultureInfo("es-PE"))
                </td>
            </tr>

            if (Model.CustomerWarranty!=null && Model.CustomerWarranty.AdminCode != "")
            {
                <tr>
                    <td class="adminTitle">
                        @Html.KsLabelFor(model => model.CustomerWarranty.AdminCode):
                    </td>
                    <td class="adminData">
                        @Model.CustomerWarranty.AdminCode
                    </td>
                    <td class="adminTitle">
                        @Html.KsLabelFor(model => model.CustomerWarranty.CompleteName):
                    </td>
                    <td class="adminData">
                        @Model.CustomerWarranty.CompleteName
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.KsLabelFor(model => model.CustomerWarranty.IsContributor):
                    </td>
                    <td class="adminData">
                        @(Model.CustomerWarranty.IsContributor ? T("Aportante") : T("No Aportante"))
                    </td>
                    <td class="adminTitle">
                        @Html.KsLabelFor(model => model.CustomerWarranty.IsActive):
                    </td>
                    <td class="adminData">
                        @(Model.CustomerWarranty.IsContributor ? T("Si") : T("No"))
                    </td>
                </tr>
            }

        }
}
</table>

