@model Ks.Admin.Models.Batchs.ScheduleBatchModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.SystemName)
@Html.HiddenFor(model => model.PathBase)
@Html.HiddenFor(model => model.FolderRead)
@Html.HiddenFor(model => model.FolderLog)
@Html.HiddenFor(model => model.FolderMoveToDone)
@Html.HiddenFor(model => model.FolderMoveToError)

<script>
    $(document).ready(function () {
        $("#country-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>
<div id="country-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            @T("Admin.Common.Info")
        </li>
    </ul>
    <div>
        @TabInfo()
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "country-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}


@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

@helper TabInfo()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.Name):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.FrecuencyId):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.FrecuencyId, Model.AvailableFrecuencies)
                @Html.ValidationMessageFor(model => model.FrecuencyId)
                <script>
                    $(document).ready(function () {
                        $('#@Html.FieldIdFor(model => model.FrecuencyId)').kendoDropDownList();
                    });
                </script>

            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.PeriodYear):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PeriodYear, Model.AvailableYears)
                @Html.ValidationMessageFor(model => model.PeriodYear)
                <script>
                    $(document).ready(function () {
                        $('#@Html.FieldIdFor(model => model.PeriodYear)').kendoDropDownList();
                    });
                </script>

            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.PeriodMonth):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PeriodMonth, Model.AvailableMonths)
                @Html.ValidationMessageFor(model => model.PeriodMonth)
                <script>
                    $(document).ready(function () {
                        $('#@Html.FieldIdFor(model => model.PeriodMonth)').kendoDropDownList();
                    });
                </script>

            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.PathBase):
            </td>
            <td class="adminData">
                @Model.PathBase
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.StartExecutionOn):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StartExecutionOn)
                @Html.ValidationMessageFor(model => model.StartExecutionOn)
                @*<script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.StartExecutionOn)').kendoDateTimePicker({
                                ARIATemplate: "Date: #=kendo.toString(@Model.StartExecutionOn, 'G')#"
                        });
                        });
                    </script>*@
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.NextExecutionOn):
            </td>
            <td class="adminData">
                @Model.NextExecutionOn

            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.LastExecutionOn):
            </td>
            <td class="adminData">
                @Model.LastExecutionOn
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.Enabled):
            </td>
            <td class="adminData">
                @Html.CheckBoxFor(model => model.Enabled, new { @disabled = "disabled" })
            </td>
        </tr>
    </table>
}
