@model Ks.Admin.Models.Batchs.ScheduleBatchModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.SystemName)
@Html.HiddenFor(model => model.PathBase)
@Html.HiddenFor(model => model.FolderRead)
@Html.HiddenFor(model => model.FolderLog)
@Html.HiddenFor(model => model.FolderMoveToDone)
@Html.HiddenFor(model => model.FolderMoveToError)

<script>
    $(document).ready(function () {
        $("#country-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>
<div id="country-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            @T("Admin.Common.Info")
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            Archivos
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
            Resumen
        </li>
    </ul>
    <div>
        @TabInfo()
    </div>
    <div>
        @TabFiles()
    </div>
    <div>
        @TabSummary()
    </div>
</div>

@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

@helper TabInfo()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.Name):
            </td>
            <td class="adminData">
                @Model.Name
            </td>
        </tr>
        @*<tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.FrecuencyId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.FrecuencyId, Model.AvailableFrecuencies)
                    @Html.ValidationMessageFor(model => model.FrecuencyId)
                    <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.FrecuencyId)').kendoDropDownList();
                        });
                    </script>

                </td>
            </tr>*@
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.PeriodYear):
            </td>
            <td class="adminData">
                @Model.PeriodYear
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.PeriodMonth):
            </td>
            <td class="adminData">
                @Model.PeriodMonth
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.PathBase):
            </td>
            <td class="adminData">
                @Model.PathBase
            </td>
        </tr>
        @*<tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.StartExecutionOn):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.StartExecutionOn)
                    @Html.ValidationMessageFor(model => model.StartExecutionOn)
                    @*<script>
                            $(document).ready(function () {
                                $('#@Html.FieldIdFor(model => model.StartExecutionOn)').kendoDateTimePicker({
                                    ARIATemplate: "Date: #=kendo.toString(@Model.StartExecutionOn, 'G')#"
                            });
                            });
                        </script>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.NextExecutionOn):
                </td>
                <td class="adminData">
                    @Model.NextExecutionOn

                </td>
            </tr>*@
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.LastExecutionOn):
            </td>
            <td class="adminData">
                @Model.LastExecutionOn
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.Enabled):
            </td>
            <td class="adminData">
                @Html.CheckBoxFor(model => model.Enabled, new { @disabled = "disabled" })
            </td>
        </tr>
    </table>
}

@helper TabFiles()
{
    <table class="adminContent">
        <tr>
            <td>
                <div id="files-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#files-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ListFiles", "ScheduleBatch",new {id=Model.Id}))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "Name",
                                title: "@T("Admin.Configuration.Languages.Fields.Name")"
                            }]
                        });
                    });
                </script>
            </td>
        </tr>
    </table>
}
@helper TabSummary()
{
    @Html.AntiForgeryToken()
    <table width="100%">
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.ReportInterface.TypeId):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.ReportInterface.TypeId, Model.ReportInterface.Types)
                @Html.ValidationMessageFor(model => model.ReportInterface.TypeId)
                <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.ReportInterface.TypeId)').width(250).kendoDropDownList();
                        });
                </script>
            </td>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.PeriodYear):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PeriodYear, Model.AvailableYears)
                @Html.ValidationMessageFor(model => model.PeriodYear)
                <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.PeriodYear)').width(250).kendoDropDownList();
                        });
                </script>
            </td>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.PeriodMonth):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PeriodMonth, Model.AvailableMonths)
                @Html.ValidationMessageFor(model => model.PeriodMonth)
                <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.PeriodMonth)').width(250).kendoDropDownList();
                        });
                </script>
            </td>
            <td colspan="2">
                <input type="submit" name="save-continue" class="k-button" value="Consultar" />
            </td>
        </tr>
    </table>

    <br />
    <hr />
    <br />

    if (Model.ReportSummaryMerges != null && Model.ReportSummaryMerges.Count > 0)
    {
        <table width="50%">
            <tr>
                <td><b>Fuente</b></td>
                <td><b>Estado</b></td>
                <td><b>Cantidad</b></td>
                <td><b>Monto</b></td>
            </tr>
            @foreach (var m in Model.ReportSummaryMerges)
            {
                <tr>
                    <td class="adminData">@m.Type</td>
                    <td class="adminData">@m.State</td>
                    <td class="adminData">@m.Number</td>
                    <td class="adminData">@m.Payed.ToString("C2")</td>
                </tr>
            }
        </table>
    }




}