@model Ks.Admin.Models.Batchs.ScheduleBatchModel
@{
    //page title
    ViewBag.Title = T("Admin.System.ScheduleBatchs").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @T("Admin.System.ScheduleBatchs") - @Model.Name @Html.ActionLink("(" + T("Admin.System.ScheduleBatchs.BackToList") + ")", "List")
        </div>
        <div class="options">
            @{
                if (Model.SystemName.Contains("In"))
                {
                    <input type="button" id="importtxt" class="k-button" value="@T("Importar")" />
                }
                if (Model.SystemName.Contains("Out"))
                {
                    <a href="@Url.Action("ExportTxtPre", new { id = Model.Id })" class="k-button">@T("Pre-Exportar")</a>
                    <a href="@Url.Action("ExportTxt", new { id = Model.Id })" class="k-button">@T("Exportar")</a>
                }
                if (Model.SystemName.Contains("Merge"))
                {
                    <a href="@Url.Action("CreateMerge", new { id = Model.Id })" class="k-button">@T("Pre - Sincronizar")</a>
                    <a href="@Url.Action("PreMerge", new { id = Model.Id })" class="k-button">@T("Sincronizar")</a>
                }
            }


            @*<input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
        <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />*@
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}

<div id="importtxt-window" style="display:none;">
    @using (Html.BeginForm("ImportTxt", "ScheduleBatch", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <table style="text-align: left;">
            <tr>
                <td>
                    @T("Admin.Configuration.ScheduleBatch.TxtFile"):
                </td>
                <td>
                    <input type="file" id="importtxtfile" name="importtxtfile" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <strong>@T("Admin.Configuration.ScheduleBatch.TxtFile.Note1")</strong>
                    <br />
                    <strong>@T("Admin.Configuration.ScheduleBatch.TxtFile.Note2")</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="importtxtsubmit" type="submit" class="k-button" value="@T("Admin.Configuration.Languages.Import")" />
                </td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#importtxt").click(function (e) {
            e.preventDefault();
            var window = $("#importtxt-window");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    modal: true,
                    width: "400px",
                    title: "@T("Admin.Configuration.Languages.Import")",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        });
    });
</script>
