@model Ks.Admin.Models.Batchs.ScheduleBatchModel
@{
    //page title
    ViewBag.Title = T("Admin.System.ScheduleBatchs").Text;
}
@Html.AntiForgeryToken()
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-system.png")" alt=""/>
        @T("Admin.System.ScheduleBatchs")
    </div>
    <div class="options">
        <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
        <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        <a href="@Url.Action("ExportTxtPre", new { id = Model.Id })" class="k-button">@T("Admin.Configuration.Languages.Export")</a>
        <input type="button" id="importxml" class="k-button" value="@T("Admin.Configuration.Languages.Import")" />
        <span id="language-delete" class="k-button">@T("Admin.Common.Delete")</span>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#schedule-tasks-grid").on("click", ".run-now", function (e) {
            showThrobber('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Admin.System.ScheduleTasks.RunNow.Progress").Text))');
        });
    });
</script>
<table class="adminContent">
    <tr>
        <td>
            <strong>@T("Admin.System.ScheduleBatchs.StopService")</strong>
        </td>
    </tr>
    <tr>
        <td>
            <div id="schedule-batchs-grid"></div>

            <script>
                $(document).ready(function() {
                    $("#schedule-batchs-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "ScheduleBatch"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                        {
                            field: "Name",
                            title: "@T("Admin.System.ScheduleBatchs.Fields.Name")"
                        }, {
                            field: "FrecuencyName",
                            title: "@T("Admin.System.ScheduleBatchs.Fields.Frecuency")"
                        }, {
                            field: "StartExecutionOn",
                            title: "@T("Admin.System.ScheduleBatchs.Fields.StartExecutionOn")",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            type: "date",
                            format: "{0:G}"
                        }, {
                            field: "NextExecutionOn",
                            title: "@T("Admin.System.ScheduleBatchs.Fields.NextExecutionOn")",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            type: "date",
                            format: "{0:G}"
                        }, {
                            field: "LastExecutionOn",
                            title: "@T("Admin.System.ScheduleBatchs.Fields.LastExecutionOn")",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            type: "date",
                            format: "{0:G}"
                        }, {
                            field: "Enabled",
                            title: "@T("Admin.System.ScheduleBatchs.Fields.Enabled")",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Enabled#.gif" />'
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                            }
                        ]
                    });
                });
            </script>
        </td>
    </tr>
</table>
