@model Ks.Admin.Models.Report.ReportListModel
@Html.ValidationSummary(false)

@{

    //page title
    ViewBag.Title = T("Admin.Catalog.Report").Text;
}

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-stat1.png")" alt="" />
        @T("Admin.Catalog.Report")
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#report-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>
<div id="report-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            @T("Admin.Catalog.Report.Global")
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            @T("Admin.Catalog.Report.Contribution")
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
            @T("Admin.Catalog.Report.Loans")
        </li>
        <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
            @T("Admin.Catalog.Report.Check")
        </li>
        <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex())>
            @T("Admin.Catalog.Report.MilitarSituation")
        </li>
        <li @Html.RenderSelectedTabIndex(5, GetSelectedTabIndex())>
            @T("Admin.Catalog.Report.SumaryBankPayment")
        </li>
    </ul>
    <div>
        @TabGlobal()
    </div>
    <div>
        @TabContribution()
    </div>
    <div>
        @TabLoanGeneral()
    </div>
    @*<div>
        @TabBenefit()
    </div>*@
    <div>
        @TabCheck()
    </div>
    <div>
        @TabMilitarSituation()
    </div>
    <div>
        @TabBankPayment()
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "report-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}


@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

@helper TabGlobal()
{
    using (Html.BeginForm("GlobalReport", "Report", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table width="100%">
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportGlobal.SourceId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportGlobal.SourceId, Model.ReportGlobal.Sources)
                    @Html.ValidationMessageFor(model => model.ReportGlobal.SourceId)
                    <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.ReportGlobal.SourceId)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportGlobal.TypeId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportGlobal.TypeId, Model.ReportGlobal.Types)
                    @Html.ValidationMessageFor(model => model.ReportGlobal.TypeId)
                    <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.ReportGlobal.TypeId)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportGlobal.Year):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportGlobal.Year, Model.ReportGlobal.Years)
                    @Html.ValidationMessageFor(model => model.ReportGlobal.Year)
                    <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.ReportGlobal.Year)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportGlobal.Month):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportGlobal.Month, Model.ReportGlobal.Months)
                    @Html.ValidationMessageFor(model => model.ReportGlobal.Month)
                    <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.ReportGlobal.Month)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">
                    <input type="submit" class="k-button" value="@T("Admin.Common.ExportToExcel")" />
                </td>
            </tr>
        </table>
    }
}


@helper TabContribution()
{
    using (Html.BeginForm("SummaryContributionReport", "Report"))
    {
        @Html.AntiForgeryToken()
        <table width="100%">
            @*<tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportContribution.FromId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportContribution.FromId, Model.ReportContribution.From)
                    @Html.ValidationMessageFor(model => model.ReportContribution.FromId)
                    <script>
                        $(document).ready(function() {
                            $('#@Html.FieldIdFor(model => model.ReportContribution.FromId)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportContribution.ToId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportContribution.ToId, Model.ReportContribution.To)
                    @Html.ValidationMessageFor(model => model.ReportContribution.ToId)
                    <script>
                        $(document).ready(function() {
                            $('#@Html.FieldIdFor(model => model.ReportContribution.ToId)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
            </tr>*@
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportContribution.FromDate):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ReportContribution.FromDate)
                    @Html.ValidationMessageFor(model => model.ReportContribution.FromDate)
                </td>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportContribution.ToDate):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ReportContribution.ToDate)
                    @Html.ValidationMessageFor(model => model.ReportContribution.ToDate)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportContribution.TypeId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportContribution.TypeId, Model.ReportContribution.Types)
                    @Html.ValidationMessageFor(model => model.ReportContribution.TypeId)
                     <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.ReportContribution.TypeId)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">
                    <input type="submit" class="k-button" value="@T("Admin.Common.ExportToExcel")" />
                </td>
            </tr>
        </table>
    }
}

@helper TabLoanGeneral()
{
    using (Html.BeginForm("LoanGeneralReport", "Report", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table width="100%">
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportLoan.From):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ReportLoan.From)
                    @Html.ValidationMessageFor(model => model.ReportLoan.From)
                </td>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportLoan.To):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ReportLoan.To)
                    @Html.ValidationMessageFor(model => model.ReportLoan.To)
                </td>
 
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportLoan.TypeId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportLoan.TypeId, Model.ReportLoan.Types)
                    @Html.ValidationMessageFor(model => model.ReportGlobal.Year)
                    <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.ReportLoan.TypeId )').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
                <td class="adminTitle">
                    @*@Html.KsLabelFor(model => model.ReportLoan.StatesId):*@
                </td>
                <td class="adminData">
                    @*@Html.DropDownListFor(model => model.ReportLoan.StatesId, Model.ReportLoan.States)
    @Html.ValidationMessageFor(model => model.ReportLoan.StatesId)
    <script>
        $(document).ready(function () {
            $('#@Html.FieldIdFor(model => model.ReportLoan.StatesId)').width(250).kendoDropDownList();
        });
    </script>*@
                </td>
      
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">
                    <input type="submit" class="k-button" value="@T("Admin.Common.ExportToExcel")" />
                </td>
            </tr>
        </table>
    }
}

@helper TabBenefit()
{
    using (Html.BeginForm("BenefitReport", "Report", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table width="100%">
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportBenefit.From):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ReportBenefit.From)
                    @Html.ValidationMessageFor(model => model.ReportBenefit.From)
                </td>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportBenefit.To):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ReportBenefit.To)
                    @Html.ValidationMessageFor(model => model.ReportBenefit.To)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportBenefit.TypeId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportBenefit.TypeId, Model.ReportBenefit.Types)
                    @Html.ValidationMessageFor(model => model.ReportBenefit.TypeId)
                    <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.ReportLoan.TypeId )').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportBenefit.SourceId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportBenefit.SourceId, Model.ReportBenefit.Sources)
                    @Html.ValidationMessageFor(model => model.ReportBenefit.SourceId)
                    <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.ReportBenefit.SourceId)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">
                    <input type="submit" class="k-button" value="@T("Admin.Common.ExportToExcel")" />
                </td>
            </tr>
        </table>
    }
}

@helper TabMilitarSituation()
{
    using (Html.BeginForm("MilitarSituation", "Report", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table width="100%">
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportMilitarySituation.MilitarySituationId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportMilitarySituation.MilitarySituationId, Model.ReportMilitarySituation.MilitarySituations)
                    @Html.ValidationMessageFor(model => model.ReportMilitarySituation.MilitarySituationId)
                    <script>
                        $(document).ready(function() {
                            $('#@Html.FieldIdFor(model => model.ReportMilitarySituation.MilitarySituationId)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
                <td class="adminTitle"></td><td class="adminTitle"></td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportMilitarySituation.ContributionStateId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportMilitarySituation.ContributionStateId, Model.ReportMilitarySituation.ContributionStates)
                    @Html.ValidationMessageFor(model => model.ReportMilitarySituation.ContributionStateId)
                    <script>
                        $(document).ready(function() {
                            $('#@Html.FieldIdFor(model => model.ReportMilitarySituation.ContributionStateId)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
                <td class="adminTitle"></td>
                <td class="adminTitle"></td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportMilitarySituation.LoanStateId ):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportMilitarySituation.LoanStateId, Model.ReportMilitarySituation.LoanStates)
                    @Html.ValidationMessageFor(model => model.ReportMilitarySituation.LoanStateId)
                    <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.ReportMilitarySituation.LoanStateId)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
                <td class="adminTitle"></td>
                <td class="adminTitle"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">
                    <input type="submit" class="k-button" value="@T("Admin.Common.ExportToExcel")" />
                </td>
            </tr>
        </table>
    }
}

@helper TabBankPayment()
{
    using (Html.BeginForm("BankPaymentReport", "Report", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table width="100%">
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.SumaryBankPayment.From):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SumaryBankPayment.From)
                    @Html.ValidationMessageFor(model => model.SumaryBankPayment.From)
                </td>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.SumaryBankPayment.To):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SumaryBankPayment.To)
                    @Html.ValidationMessageFor(model => model.SumaryBankPayment.To)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.SumaryBankPayment.TypeId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.SumaryBankPayment.TypeId, Model.SumaryBankPayment.Types)
                    @Html.ValidationMessageFor(model => model.SumaryBankPayment.TypeId)
                    <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.SumaryBankPayment.TypeId)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.SumaryBankPayment.SourceId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.SumaryBankPayment.SourceId, Model.SumaryBankPayment.Sources)
                    @Html.ValidationMessageFor(model => model.SumaryBankPayment.SourceId)
                    <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.SumaryBankPayment.SourceId)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">
                    <input type="submit" class="k-button" value="@T("Admin.Common.ExportToExcel")" />
                </td>
            </tr>
        </table>
    }
}

@helper TabCheck()
{
    using (Html.BeginForm("Checks", "Report", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table width="100%">
            <tr>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportCheck.From):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ReportCheck.From)
                    @Html.ValidationMessageFor(model => model.ReportCheck.From)
                </td>
                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportCheck.To):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ReportCheck.To)
                    @Html.ValidationMessageFor(model => model.ReportCheck.To)
                </td>

                <td class="adminTitle">
                    @Html.KsLabelFor(model => model.ReportCheck.TypeId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.ReportCheck.TypeId, Model.ReportCheck.Types)
                    @Html.ValidationMessageFor(model => model.ReportCheck.TypeId)
                    <script>
                        $(document).ready(function () {
                            $('#@Html.FieldIdFor(model => model.ReportCheck.TypeId)').width(250).kendoDropDownList();
                        });
                    </script>
                </td>
                <td class="adminTitle">
                    @*@Html.KsLabelFor(model => model.ReportLoan.StatesId):*@
                </td>
                <td class="adminData">
                    @*@Html.DropDownListFor(model => model.ReportLoan.StatesId, Model.ReportLoan.States)
                        @Html.ValidationMessageFor(model => model.ReportLoan.StatesId)
                        <script>
                            $(document).ready(function () {
                                $('#@Html.FieldIdFor(model => model.ReportLoan.StatesId)').width(250).kendoDropDownList();
                            });
                        </script>*@
                </td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">
                    <input type="submit" class="k-button" value="@T("Admin.Common.ExportToExcel")" />
                </td>
            </tr>
        </table>
    }
}
