@{
    //page title
    ViewBag.Title = T("Alertas").Text;
}
@Html.AntiForgeryToken()
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
        @T("Alertas")
    </div>
    <div class="options">
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            <div id="workflow-grid1"></div>

            <script>
    $(document).ready(function () {
        $("#workflow-grid1").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "Home"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors" 
                     
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Title",
                title: "@T("Admin.Home.WorkFlow.Field.Title")",
                width: 100
            }, {
                field: "CustomerCreatedName",
                title: "@T("Admin.Home.WorkFlow.Field.CustomerCreatedName")",
                width: 100
            }, {
                field: "Description",
                title: "@T("Admin.Home.WorkFlow.Field.Description")" 
            }, {
                field: "EntityId",
                title: "@T("Admin.Home.WorkFlow.Field.EntityId")",
                width: 100
            }, {
                field: "EntityName",
                title: "@T("Admin.Home.WorkFlow.Field.EntityName")",
                width: 100
            }, {
                field: "GoTo",
                title: "@T("Admin.Home.WorkFlow.Field.GoTo")",
                template: '<a href="#=GoTo#">@T("Admin.Home.WorkFlow.Field.GoTo") </a>',
                width: 100
            }, {
                field: "Active",
                title: "@T("Admin.Home.WorkFlow.Field.Active")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Active#.gif" />'
            }]
        });
    });
            </script>
        </td>
    </tr>
</table>
