@model Ks.Admin.Models.Contract.ContributionPaymentListModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Ks.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Ks.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
}

<table width="100%">
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.Number):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Number)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.StateId):
        </td>
        <td class="adminData">
            @Html.DropDownListFor(model => model.StateId, Model.States)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.BankName):
        </td>
        <td class="adminData">
            @Html.DropDownListFor(model => model.BankName, Model.Banks)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.KsLabelFor(model => model.Type):
        </td>
        <td class="adminData">
            @Html.DropDownListFor(model => model.Type, Model.Types)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" id="search-payment" class="k-button" value="@T("Admin.Common.Search")" />
        </td>
    </tr>
</table>

<table class="adminContent">
    <tr>
        <td>
            <div id="contributions-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#contributions-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ListContributionsPayments", "Contributions", new { contributionId = Model.Id,customerId=Model.CustomerId}))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        filterable: true,
                        sortable: true,
                        columns: [
                            {
                                field: "Number",
                                title: "@T("Admin.Contract.ContributionPayments.Fields.Number")",
                                width: 50
                            },
                            @if (Model.IsActiveAmount1)
                                    {
                                        <text>
                                    {
                                        field: "Amount1",
                                        title: "@Model.NameAmount1",
                                        width: 50,
                                        template:'#= kendo.toString(Amount1,"c","es-PE") #',
                                        format:"{0:c2}"
                                    },
                                </text>
                                    }
                            @if (Model.IsActiveAmount2)
                                    {
                                        <text>
                                    {
                                        field: "Amount2",
                                        title: "@Model.NameAmount2",
                                        width: 50,
                                        template:'#= kendo.toString(Amount2,"c","es-PE") #',
                                        format:"{0:c2}"
                                    },
                                </text>
                                    }
                            @if (Model.IsActiveAmount3)
                                    {
                                        <text>
                                    {
                                        field: "Amount3",
                                        title: "@Model.NameAmount3",
                                        width: 50,
                                        template:'#= kendo.toString(Amount3,"c","es-PE") #',
                                        format:"{0:c2}"
                                    },
                                </text>
                                    }{
                                    field: "BankName",
                                    title:"@T("Admin.Contract.ContributionPayments.Fields.BankName")",
                                    width: 200
                                }, {
                                    field: "ScheduledDateOn",
                                    title:"@T("Admin.Contract.ContributionPayments.Fields.ScheduledDateOn")",
                                    width: 40,
                                    filterable: { ui: "datetimepicker" },
                                    template:'#= ScheduledDateOn!=null ? kendo.toString(ScheduledDateOn,"dd/MM/yyyy HH:mm:ss","es-PE"): " "#',
                                    type: "date",
                                    format: "{0:G}"
                                }, {
                                    field: "ProcessedDateOn",
                                    title:"@T("Admin.Contract.ContributionPayments.Fields.ProcessedDateOn")",
                                    width: 40,
                                    filterable: { ui: "datetimepicker" },
                                    template:'#= ProcessedDateOn!=null ? kendo.toString(ProcessedDateOn,"dd/MM/yyyy HH:mm:ss","es-PE"): " "#',
                                    type: "date",
                                    format: "{0:G}"
                                },{
                                    field: "State",
                                    title: "@T("Admin.Contract.ContributionPayments.Fields.State")",
                                    width: 50
                                },{
                                    field: "Type",
                                    title: "@T("Admin.Contract.ContributionPayments.Fields.Type")",
                                    width: 50
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Common.Edit")",
                                    width: 50,
                                    template: '<a href="@Url.Content("~/Admin/Contributions/CreatePayment/#=Id#")">@T("Admin.Common.Edit")</a>'
                                }
                        ]
                    });
                });
            </script>
        </td>
    </tr>
</table>

<script type="text/javascript">

    $(document).ready(function() {

        //search button
        $('#search-payment').click(function() {
            //search
            var grid = $('#contributions-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        $("#@Html.FieldIdFor(model => model.Number)").keydown(function(event) {
            if (event.keyCode == 13) {
                $("#search-payment").click();
                return false;
            }
        });
    });
</script>