@model ContributionPaymentListModel
@{
    //page title
    ViewBag.Title = T("Admin.Contract.Contribution.AddNew").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Contribution-form" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.Contract.Contribution.AddNew") @Html.ActionLink("(" + T("Admin.Contract.Contribution.BackToList") + ")", "List")
        </div>
        <div class="options">
            <input type="button" id="createcustompayment" class="k-button" value="@T("Admin.Contract.LoanPayments.CustomPayment")" />
            <input type="submit" name="exportexcel-all" class="k-button" value="@T("Admin.Contract.Contribution.ExportToExcel")" />
            <input type="submit" name="exportexcel-customer" class="k-button" value="Expotar Pagos Cliente" />
            <input type="submit" name="exportexcel-acmr" class="k-button" value="Expotar Pagos ACMR" />
            <input type="submit" name="exportpdf" class="k-button" value="@T("Admin.Common.ExportToPdf")" />
            <script type="text/javascript">
                $('#createcustompayment').click(function() {
                    window.location.replace('@Url.Action("CreateCustomPayment", "Contributions", new {id = Model.ContributionId})');
                });
            </script>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
