@model LoanPaymentListModel
@{
    //page title
    ViewBag.Title = T("Admin.Contract.Loan.AddNew").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Loan-form" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.Contract.Loan.AddNew") @Html.ActionLink("(" + T("Admin.Contract.Loan.BackToList") + ")", "List")
        </div>
        <div class="options">
            <a href="@Url.Action("Download", new { id = Model.LoanId })" class="k-button">Constancia</a>
            <input type="button" id="createcustompayment" class="k-button" value="@T("Admin.Contract.LoanPayments.CustomPayment")" />
            <input type="button" id="createendpayment" class="k-button" value="@T("Admin.Contract.LoanPayments.EndPayment")" />
            <input type="submit" name="exportexcel" class="k-button" value="@T("Admin.Contract.Loan.ExportToExcel")" />
            <input type="submit" name="exportexcelKardex" class="k-button" value="@T("Admin.Contract.LoanPayments.ExportToExcel.Kardex")" />
            <span id="loan-delete" class="k-button">Cancelar Apoyo</span>
            <script type="text/javascript">
                $('#createcustompayment').click(function() {
                    window.location.replace('@Url.Action("CreateCustomPayment", "Loans", new {id = Model.LoanId})');
                });

                 $('#createendpayment').click(function() {
                    window.location.replace('@Url.Action("CreateEndPayment", "Loans", new {id = Model.LoanId})');
                });

            </script>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("loan-delete")