@model LoanPaymentListModel
@{
    //page title
    ViewBag.Title = T("Admin.Contract.Loan.AddNew").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Loan-form" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.Contract.Loan.AddNew") @Html.ActionLink("(" + T("Admin.Contract.Loan.BackToList") + ")", "List")
        </div>
        <div class="options">
            <input type="button" id="createcustompayment" class="k-button" value="@T("Admin.Contract.LoanPayments.CustomPayment")" />
            <input type="submit" name="exportexcel" class="k-button" value="@T("Admin.Common.ExportToExcel")"/>
            <input type="submit" name="exportexcelKardex" class="k-button" value="@T("Admin.Contract.LoanPayments.ExportToExcel.Kardex")" />
            <script type="text/javascript">
                $('#createcustompayment').click(function () {
                    window.location.replace('@Url.Action("CreateCustomPayment", "Loans", new { id = Model.LoanId })');
                });
            </script>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
