@model TabModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<table class="adminContent">
    <tr>
        <td>
            <div id="tabdetails-grid"></div>
            <script>
                $(document).ready(function () {
                    $("#tabdetails-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ListDetails", "Tab", new {tabId=Model.Id}))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "YearInActivity",
                            title: "@T("Admin.Configuration.Languages.Fields.Name")"
                        }, {
                            field: "Value",
                            title: "@T("Admin.Configuration.Languages.Fields.Name")" 
                        },{
                            field: "CreatedOn",
                            title: "@T("Admin.Contract.Loan.Fields.CreatedOn")",
                            template: '#= CreatedOn!=null ? kendo.toString(CreatedOn,"dd/MM/yyyy","es-PE"): " "#',
                            type: "date",
                            format: "{0:G}"
                        }, {
                            field: "UpdatedOn",
                            title: "@T("Admin.Contract.Loan.Fields.UpdatedOn")",
                            template: '#= UpdatedOn!=null ? kendo.toString(UpdatedOn,"dd/MM/yyyy","es-PE"): " "#',
                            type: "date",
                            format: "{0:G}"
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                        }]
                    });
                });
            </script>
        </td>
    </tr>
</table>
