@model SequenceIdsSettingsModel
@Html.ValidationSummary(false)
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.LetterSettings").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Configuration.Settings.LetterSettings")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
        </div>
    </div>

    @Html.ValidationSummary(false)

    <script>
        $(document).ready(function () {
            $("#sequenceidssettings-edit").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select
            });
        });
    </script>
    <div id="sequenceidssettings-edit">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.SequenceIds.DeclaratoryLetter.Header")
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.SequenceIds.AuthorizeDiscount.Header")
            </li>
            <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.SequenceIds.RegistrationForm.Header")
            </li>
        </ul>
        <div>
            @TabDeclaratoryLetterSettings()
        </div>
        <div>
            @TabAuthorizeDiscountSettings()
        </div>
        <div>
            @TabRegistrationFormSettings()
        </div>
    </div>

    @helper TabDeclaratoryLetterSettings()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.DeclaratoryLetter):
            </td>

            <td class="adminData">
                @Html.EditorFor(model => model.DeclaratoryLetter)
                @Html.ValidationMessageFor(model => model.DeclaratoryLetter)
            </td>
        </tr>
    </table>
}
    @helper TabAuthorizeDiscountSettings()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.AuthorizeDiscount):
            </td>

            <td class="adminData">
                @Html.EditorFor(model => model.AuthorizeDiscount)
                @Html.ValidationMessageFor(model => model.DeclaratoryLetter)
            </td>
        </tr>
    </table>
}
    @helper TabRegistrationFormSettings()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.KsLabelFor(model => model.RegistrationForm):
            </td>

            <td class="adminData">
                @Html.EditorFor(model => model.RegistrationForm)
                @Html.ValidationMessageFor(model => model.RegistrationForm)
            </td>
        </tr>
    </table>
}
}
