@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Benefits").Text;
}
@Html.AntiForgeryToken()
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
        @T("Admin.Configuration.Benefits")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            <div id="benefit-grid"></div>
            <script>
                $(document).ready(function () {
                    $("#benefit-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "Benefit"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "Name",
                            title: "@T("Admin.Configuration.Benefits.Fields.Name")"
                        }, {
                            field: "BenefitTypeName",
                            title: "@T("Admin.Configuration.Benefits.Fields.BenefitTypeId")"
                        }, {
                            field: "Discount",
                            title: "@T("Admin.Configuration.Benefits.Fields.Discount")",
                            template: '#=kendo.format("{0:p}", Discount)#'
                        }, {
                            field: "CancelLoans",
                            title: "@T("Admin.Configuration.Benefits.Fields.CancelLoans")",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=CancelLoans#.gif" />'
                        }, {
                            field: "LetterDeclaratory",
                            title: "@T("Admin.Configuration.Benefits.Fields.LetterDeclaratory")",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=LetterDeclaratory#.gif" />'
                        }, {
                            field: "DisplayOrder",
                            title: "@T("Admin.Configuration.Benefits.Fields.DisplayOrder")" 
                        },{
                            field: "CreatedOn",
                            title: "@T("Admin.Configuration.Benefits.Fields.CreatedOn")",
                            template: '#= CreatedOn!=null ? kendo.toString(CreatedOn,"dd/MM/yyyy hh:mm:ss","es-PE"): " "#',
                            type: "date",
                            format: "{0:G}"
                        }, {
                            field: "UpdatedOn",
                            title: "@T("Admin.Configuration.Benefits.Fields.UpdatedOn")",
                            template: '#= UpdatedOn!=null ? kendo.toString(UpdatedOn,"dd/MM/yyyy hh:mm:ss","es-PE"): " "#',
                            type: "date",
                            format: "{0:G}"
                        }, {
                            field: "IsActive",
                            title: "@T("Admin.Configuration.Benefits.Fields.IsActive")",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=IsActive#.gif" />'
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                        }]
                    });
                });
            </script>
        </td>
    </tr>
</table>
